<h3>Polyglot's Amazing Instructors</h3>



<% @instructors.each do |instructor| %>
    <p>
    
    <%= link_to "#{instructor.to_s}", instructor_path(instructor) %>
   
    </p>
    <% end %>

    <br>
<%= link_to "Log out", '/logout', method: 'destroy' %>


